In [1]:
import pandas as pd

In [2]:
dev_gold_label = pd.read_csv("/content/dev_gold.csv")

In [15]:
dev_gold_label

        ID        DataID Language  Label
0     3652  dev.EN.147.1       EN      1
1    11103  dev.EN.147.2       EN      1
2    84346  dev.EN.147.3       EN      1
3    56279  dev.EN.147.4       EN      1
4    17886  dev.EN.147.5       EN      1
..     ...           ...      ...    ...
461  95264  dev.EN.275.5       EN      0
462  39232  dev.EN.275.6       EN      0
463  77031  dev.EN.275.7       EN      0
464  76111  dev.EN.275.8       EN      0
465  86599  dev.EN.275.9       EN      0

[466 rows x 4 columns]

In [4]:
xlm_net_base_result = pd.read_csv("/content/test_results_None_xlm_net.txt",sep='\t')

In [5]:
xlm_net_base_result

     index  prediction
0        0           0
1        1           0
2        2           0
3        3           0
4        4           0
..     ...         ...
734    734           0
735    735           0
736    736           0
737    737           0
738    738           0

[739 rows x 2 columns]

In [6]:
from sklearn.metrics import classification_report

In [7]:
print(classification_report(list(dev_gold_label.Label), list(xlm_net_base_result.prediction), target_names = ['idiomatic','non-idiomatic']))

               precision    recall  f1-score   support

    idiomatic       0.59      0.81      0.69       336
non-idiomatic       0.78      0.54      0.64       403

     accuracy                           0.66       739
    macro avg       0.68      0.68      0.66       739
 weighted avg       0.69      0.66      0.66       739

In [8]:
distilbert_base_result = pd.read_csv("/content/test_results_None_distil_bert.txt",sep='\t')
xlm_roberta_result = pd.read_csv("/content/test_results_None_xlm_roberta_base.txt",sep='\t')

In [12]:
xlm_net_list = list(xlm_net_base_result.prediction)
dbert_list = list(distilbert_base_result.prediction)
xlmrob_list = list(xlm_roberta_result.prediction)

In [13]:
new_list = []
for i in range(len(bert_list)):
  t1 = xlm_net_list[i] + dbert_list[i] + xlmrob_list[i]
  if(t1>=2):
    new_list.append(1)
  else:
    new_list.append(0)

In [14]:
print(classification_report(list(dev_gold_label.Label), new_list, target_names = ['idiomatic','non-idiomatic']))

               precision    recall  f1-score   support

    idiomatic       0.62      0.77      0.69       336
non-idiomatic       0.76      0.61      0.68       403

     accuracy                           0.68       739
    macro avg       0.69      0.69      0.68       739
 weighted avg       0.70      0.68      0.68       739

For English

In [16]:
print(classification_report(list(dev_gold_label.Label)[:466], new_list[:466], target_names = ['idiomatic','non-idiomatic']))

               precision    recall  f1-score   support

    idiomatic       0.65      0.65      0.65       182
non-idiomatic       0.78      0.78      0.78       284

     accuracy                           0.73       466
    macro avg       0.71      0.71      0.71       466
 weighted avg       0.73      0.73      0.73       466

For Portuguese

In [17]:
print(classification_report(list(dev_gold_label.Label)[466:], new_list[466:], target_names = ['idiomatic','non-idiomatic']))

               precision    recall  f1-score   support

    idiomatic       0.60      0.91      0.72       154
non-idiomatic       0.65      0.22      0.33       119

     accuracy                           0.61       273
    macro avg       0.63      0.56      0.53       273
 weighted avg       0.62      0.61      0.55       273